body{
    background-color:rgb(220, 233, 234) ;
    
    
  
}
h1{
    text-align: center;
}
header{
    background-color: burlywood;
    padding:3px;
}
header nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
}
header nav a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    
}
header nav a:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
    font-weight: 500px;
    
}
nav{
    margin-bottom: 5px;
}
p{
    font-weight: 600;
    font-size: 13px
}

/*durgadevi stotram*/
.durgadevi_stotram{
    font-size: 20px;
    word-spacing:5px ;
    margin-left: 25px;
}

.durgadevi_stotram_h2{
    margin-left: 10px;
}

/* adithya hrudayam */

.adithyahrudayam{
    font-weight: 700;
    font-size: 15px;
    margin-left: 20px;
    word-spacing: 5px;
}

/* dakshinamurthy kavacham */

.dakshinamurthy_kavacham{
    font-weight: 700;
    font-size: 15px;
    margin-left: 25px;
    word-spacing: 5px;
}

.dakshinamurthy_kavacham_h4{
    margin-left: 10px;

}
/* script button css */

.addplus{
    font-size: 50px;
}
.addplusbutton{
    border: 0px;
    background-color:rgb(220, 233, 234) ;
}
.addplus1{
    font-size: 20px;
}
